<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.banlinea.control"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.banlinea.control.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.banlinea.control.RegisterActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.banlinea.control.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.banlinea.control.HomeActivity" />
        </activity>
        <activity
            android:name="com.banlinea.control.ReminderSetupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.banlinea.control.InitialSetupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.banlinea.control.BalanceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.banlinea.control.RegisterTransactionActivity"
            android:label="@string/title_activity_register_transaction"
            android:parentActivityName="com.banlinea.control.BalanceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.banlinea.control.BalanceActivity" />
        </activity>
        <activity
            android:name="com.banlinea.control.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.banlinea.control.CategoryManagerActivity"
            android:label="@string/title_activity_category_manager"
            android:parentActivityName="com.banlinea.control.BalanceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.banlinea.control.BalanceActivity" />
        </activity>
        <activity
            android:name="com.banlinea.control.CategoryManagementActivity"
            android:label="@string/title_activity_category_management" >
        </activity>
    </application>

</manifest>
